#div_error {
    background: #000;
    padding: 10px 18px 10px 10px;
    color: #FFF;
    line-height: 1em;
    font-size: 14px;
    font-weight: normal;
    margin-right: 6px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    margin-right: 0;
    width: 97%;
}
#div_error_existe {
    background: #000;
    padding: 10px 18px 10px 10px;
    color: #FFF;
    line-height: 1em;
    font-size: 14px;
    font-weight: normal;
    margin-right: 6px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    margin-right: 0;
    width: 35%;
}

#div_no_existe {
    background: #CCCCCC;
    padding: 10px 18px 10px 10px;
    color: #000;
    line-height: 1em;
    font-size: 14px;
    font-weight: normal;
    margin-right: 6px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    margin-right: 0;
    width: 97%;
}